{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="mt-4 p-5 bg-light rounded">
        <h1>{{ post.title }}</h1>
        {% if post.image %}
            <img src="{{ post.image.url }}">
        {% endif %}
        <p class="date">
            Opublikowany {{ post.publish }} przez {{ post.author }}
        </p>
        {{ post.body|linebreaks }}

        <a href="{% url "blog:post_share" post.id %}" class="btn btn-primary">
        Udostepnij
        </a>
        <div class="mt-4 p-5 bg-warning rounded">
        {% with comments.count as total_comments %}
            <h3>
                {{total_comments}} komentarz {{ total_comments|pluralize:"y" }}
            </h3>
            <h3>Komentarze :</h3>
                {% for comment in comments%}
                    <div class="mt-4 p-5 bg-info rounded">
                        <p>
                            Komentarz {{forloop.counter}} dodany przez {{comment.name}}
                            {{comment.created}}
                        </p>
                        {{comment.body|linebreaks}}
                    </div>
                {% empty %}
                    <div class="mt-4 p-5 bg-info rounded">
                        Nie ma jeszcze żadnych komentarzy
                    </div>
                {% endfor %}

            <!-- Dodawanie nowgo koentarzas -->
            {% if new_comment %}
                <h3>Twój komentarz został dodany</h3>
            {% else %}
             <h3>Dodaj nowy komentarz</h3>
            <form action="." method="post">
                <div class="mb-3 mt-3 ">
                    {{comment_form.as_p}}
                    {% csrf_token %}
                </div>
                <input type="submit" value="Dodaj komentarz"class="btn btn-primary">
             </form>
            {% endif %}
        </div>
        {% endwith %}
    </div>
    <div class="mt-4 p-5 bg-light rounded">
    <h3>Podobne posty : </h3>
    {% for post in similar_posts %}
        <ul>
            <li>
                 <a href="{{ post.get_absolute_url}}">{{post.title}}</a>
            </li>
        </ul>
    {% empty %}
        <p>Brak podobnych postó</p>
    {% endfor %}
    </div>
</div>

{% endblock %}