{% extends "blog/base.html" %}

{% block title %}Mój Blog{% endblock %}

{% block content %}
<div class="container">
  {% for post in posts %}
    <div class="mt-4 p-5 bg-light rounded">
    <h2>
      <a href="{{ post.get_absolute_url }}">
        {{ post.title }}
      </a>
    </h2>
    <p class="date">
      Opublikowany: {{ post.publish }} przez {{ post.author }}, Kategoria: {{post.category}}
    </p>
    <p class="tags">
      Tagi: {{post.tags.all|join:", "}}
    </p>
   {{ post.body|truncatewords:30|linebreaks }}
    </div>
  {% endfor %}
</div>



{% include "pagination.html" with page=page_obj %}
{% endblock %}
