{% extends "blog/base.html" %}

{% block title %}Udostępnij post{% endblock %}

{% block content %}
  <div class="container">
    <div class="mt-4 p-5 bg-light rounded">
      {% if sent %}
        <h3>E-mail pomyślnie wysłano</h3>
        <p>
          "{{ post.title }}" pomyślnie wysłano do {{ form.cleaned_data.to }}.
        </p>
      {% else %}
      <h3>Udostępnij "{{ post.title }}" przez e-mail :</h3>
    <form method="post">
      <div class="mb-3 mt-3 ">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Udostępnij" class="btn btn-primary">
      </div>
    </form>
  {% endif %}
    </div>
  </div>
{% endblock %}
