{% extends "blog/base.html" %}
{% load static %}
{% block title %}O autorze{% endblock %}

{% block content %}
<div class="container">
    <div class="mt-4 p-5 bg-light rounded">
    {% for ab in about %}
    <div class="authorPhoto">
        <img src="{% static 'img/avatarAuthor.png' %}"/>
    </div>
    <h2>
       {{ ab.name }}

    </h2>
     <p >
      {{ ab.description }}
    </p>

    {% endfor %}
        </div>
</div>
{% endblock %}
