﻿{% load static %}
<!DOCTYPE html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <!-- Bootsrap from cdn -->
        <!-- Latest compiled and minified CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <!-- menu -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'blog:post_list' %}">MyBlog.com</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog:post_list' %}">Strona glówna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog:about' %}">O Autorze</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog:contact' %}">Kontakt</a>
                        </li>
                    </ul>
                    <!-- Wyszukiwarka -->>
                    <form class="d-flex">
                        <input class="form-control me-2" type="text" placeholder="Search">
                        <button class="btn btn-primary" type="button">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Page Header -->
        <header class="masthead p-5 " style="background-image: url(/static/img/home-bg.jpg)">
            <div class="col-lg-2 mx-auto">
                <div class="site-heading">
                    <h1>Mój blog</h1>
                        <span class="subheading">To jest blog o wszystkim</span>
                </div>
            </div>
        </header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8 p-3">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="col-sm-4 p-3 ">
                    <div class="container">
                        <div class="mt-4 p-5 bg-light rounded">
                            <h4> Tagi :</h4>
                                {% for tag in tags_list %}
                                    <ul>
                                        <li>
                                            {{ tag }}
                                        </li>
                                    </ul>
                                {% endfor %}
                        </div>
                         <div class="mt-4 p-5 bg-light rounded">
                            <h4> Ostatnio dodane posty:</h4>
                             {% for post_activ in posts_activity_list %}
                                    <ul>
                                        <li>
                                            <a href="{{ post_activ.get_absolute_url }}">
                                                 {{ post_activ.title }}
                                            </a> | {{ post_activ.publish }}
                                        </li>
                                    </ul>
                                {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer class="text-center">

        <p class="copyright text-muted">Copyright &copy; Your Website 2023</p>
    </footer>


</html>