{% extends "blog/base.html" %}

{% block title %}Kontakt{% endblock %}

{% block content %}
    <div class="container">
        <div class="mt-4 p-5 bg-light rounded">
            {% for contact in contacts %}
                {{ contact.title }}<br>
                Numer Telefonu : {{ contact.telephone_number }}<br>
                Email : {{ contact.email }}
            {% endfor%}
        </div>
    </div>
{% endblock %}

