{% extends "blog/base.html" %}

{% block title %}Wyszukiwarka{% endblock %}

{% block content %}
    <div class="comment">
        <h2>
            Znalezione artykuły :
        </h2>
        {% for post in posts%}
        <h4>
            <div class="comment">
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
            </div>
        </h4>
    </div>
    {% empty %}
        <p>Nie znaleziono żadnego artykułu</p>
    {% endfor %}
</div>

    <h2>Wyszukaj artykół : </h2>
  <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
       <p><input type="submit" value="Szukaj"></p>
  </form>

{% endblock %}