<ul class="pagination justify-content-center" style="margin:20px 0">
  {% if page.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}">Poprzednia</a></li>
  {% endif %}
    <li class="page-item"><a class="page-link" href="?page={{ page.number }}">{{page.number}}</a></li>
  {% if page.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">Następna</a></li>
  {% endif %}
</ul>
